.idea/
*.iml
*.iws
/node_modules


.DS_Store

backend/HELP.md

backend/mvnw

backend/mvnw.cmd

redcross-aalesund/src/components/header/Header.tsx

redcross-aalesund/src/components/ourWork/OurWork.tsx

backend/src/main/resources/application.properties

backend/target/

